        nav{
            text-align:center;
            font-size:40px;
            padding:20px;
            font-style:Verdana;
            gap:40px;
            display:flex;
            background-color:rgb(204, 121, 121);
            justify-content:center;
        }
        nav img{
            width:70px;
            height:70px;
        }
        h1{
         color:brown; font-size:40px; text-align:center;
        }
        h2{
         color:brown; font-size:40px; text-align:center
        }
         h3{
         color:brown; font-size:20px;
        }
        .imagemmario{
            display:block;
            margin:auto;
        }
        .imagemyoshi{
            display:block;
            margin:auto;
        }
        a:link{
            color: brown;
            text-decoration: none;
        }
        a:visited{
            color:rgb(109, 50, 50);
        }
        #nintendo{
            color:rgb(85, 85, 185)
        }
        p{      
        font-size:22px; color:rgba(2, 2, 2, 0.699); text-align:center
        }
        body{
            background-color:rgb(214, 191, 189)
        }
        .ImagensCentralizadas{
            text-align:center
        }
        ul{
            list-style:none;
            padding-left:0px;
        }
        .jogoscitados img{
            width:70px;
            height:70px;
        }
        .jogoscitados li{
            font-size:20px;
            
        }
        .jogoscitados li:hover{
            font-size:25px;
        }
    .jogo{
            display:flex;
            align-items:center;
            gap:15px;
        }
    #colunas{
            display:flex;
            justify-content:center;
            gap:120px;
        }
    .coluna{
            width:45%;

        }